html{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
}

body{
    height: 100%;
    background-image: url("/field/tugOfWarImages/tugOfWarBG.png");
    margin: 0;
}

#title{
    width:100%;
    height: 10vh;
}

#moveTitle{
    margin: 3%;
}

p{
    font-size: 1.5vw;
    color: white;
}

.p5{
    width: 100%;
    position: absolute;
    top: 45%;
    height: 80px;
    padding: 0;
}

#instructions {
    margin: 0;
    position: absolute;
    text-align: center;
    width:100%;
    top: 80%;
}

.rules{
    width: 45%;
    height: 60%;
    background-color:rgb(192, 161, 161, 0.79);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.5vw;
}

.specific-instructions{
    text-align: justify;
}

button{
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;

    /* add styling */
    cursor: pointer;
    border:none;
    color:#fff;
    font-weight:600;
    font-size: 1.5vw;
    border-radius:5px;
    background-color: #471010;
}

h1{
    color: #471010;
}

#start-button{
    width: 25%;
    height: 15%;
    font-size: 1.5vw;
}