html{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
}

body{
    height: 100%;
    background-image: url("/field/tugOfWarImages/tugOfWarBG.png");
    margin: 0;
}

#title{
    width:100%;
    height: 10vh;
}

#moveTitle{
    margin: 3%;
}

p{
    font-size: 20px;
    color: white;
    font-family: 'American Typewriter', serif;
}

.p5{
    width: 100%;
    position: absolute;
    top: 45%;
    height: 80px;
    padding: 0;
}

#instructions {
    margin: 0;
    position: absolute;
    text-align: center;
    width:100%;
    top: 80%;
}