/* fix relative positions */
html, body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color:white;
}

/* background-img*/
.background-container {
    width:100vw;
    height:100vh;
    position:absolute;
    display:relative;
    z-index: -1;
}


/* background-img*/
.background-container img{
    width:100%;
    height:100%;
    position:absolute;
    z-index: -1;
}

#mainHome {
    cursor: pointer;
    position:absolute;
    top: 4vh;
    left: 9vw;
    width: 3%;
    height: 5%;
    z-index: 10;
}


#title{
    font-size: 1.5vw;
    color:white;
    height:10vh;
    top:6vh;
    position:absolute;
    left:10vw;
}

#mainHome {
    cursor: pointer;
    position:absolute;
    top:5vh;
    left:5vw;
    z-index:10;
}

p{
    font-size: 1.5vw;
    color: white;
    margin:0;
}

.p5{
    width: 100%;
    position: absolute;
    top: 45%;
    height: 80px;
    padding: 0;
    margin: 0;
}

#instructions {
    margin: 0;
    position: absolute;
    width:100%;
    display:relative;
    top: 80%;
}

#player-instructions{
    color: #471010;
    font-weight:bold;
    position:absolute;
    margin-top: 3%;
}

.rules, .end{
    width: 45%;
    height: 60%;
    background-color:rgb(192, 161, 161, 0.79);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.5vw;
}

#winner{
    padding-top: 7%;
    font-size: 3.5vw;
    font-style: oblique;
}

.specific-instructions{
  text-align: left;
}

button{
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;

    /* add styling */
    cursor: pointer;
    border:none;
    color:#fff;
    font-weight:600;
    font-size: 1.5vw;
    border-radius:5px;
    background-color: #471010;
}

h1{
    color: #471010;
}

#start-button{
    width: 25%;
    height: 15%;
    font-size: 1.5vw;
    margin-top: 15%;
}

#players{
    top: 70%;
    text-align: center;
    position: absolute;
    width: 100%;
}

#Home {
    position:absolute;
    bottom:10vh;
    left:18vw;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #471010;
}