html, body {
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color:white;
}

/* title */
.background-container {
    width:100vw;

}

.background-container img {
    width:100%;
    height:100%;
    position:absolute;
    z-index: -3;
}

/* title */
#title{
    display: flex;
    position: relative;
    width:100%;
    height: 10vh;
    font-size: 1.5vw;
    color:white;
}

#title p {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height:10%;
    margin:0;
    padding: 0;
    padding-left:10vw;
}

/* games */
#game-container{
    display: flex;
    width:100%;
    height:80vh;
}


/* sketch */
#sketch-container {
    padding:5vh 5vw;
    display: flex;
    width:70%;
    margin:0;
    flex-direction: column;
    align-items: center;
}

.getwordbutton{
    width:50vw;
    display: flex;

}

.drawword-text{
       padding:1vh 1vw;
       margin-top:2vh;
       width:60%;
       margin-left:10%;;
       font-weight:600;
       border-radius:5px;
       font-size: 1.5vw;

}

#getword-button{
       /* remove default behavior */
       appearance:none;
       -webkit-appearance:none;
     
       /* usual styles */
       cursor: pointer;
       width:30%;
       padding:1vw;
       margin-top:2vw;
       border:none;
       color:#fff;
       font-weight:600;
       border-radius:5px;
       font-size: 1.5vw;
       border-radius:5px;
       background-color: #2E1F59;
}

#draw_this{
    color:#fff;
   
}

/* customize when getword button is disabled */
#getword-button:disabled,
#getword-button[disabled]{
    background-color:#424384;
    opacity:0.1;

}

/* chat */
#chat-container {
    display: flex;
    float: right;
    width:30%;
    margin:0;
    padding:5vh 5vw;
    flex-direction: column;
    align-items: center;
}

.sub-container {
    display: flex;
    width: 70%;
}

.chat-input{
    flex-direction: row;
    align-items: left;
}

.chat-input-opacity{
    display: flex;
    opacity:0.2;
    width: 70%;
}

.chat-feed{
    flex-direction: column;  
    align-items: left;
}

input{
    appearance:none;
    margin-top:2vh;
    -webkit-appearance:none;
    border:none;
    padding: 1vh 1vw;
    font-size: 1.5vw;
    width:70%;
    margin-right:5%;
    border-radius:5px;
}

.chat-input-msg{
    width: 85%;
}

#send-button{
      /* remove default behavior */
      appearance:none;
      -webkit-appearance:none;
    
      /* usual styles */
      cursor: pointer;
      position:relative;
      padding:1vh 1vw;
      margin-top: 2vh;
      border:none;
      color:#fff;
      font-weight:600;
      border-radius:5px;
      font-size: 1.5vw;
      border-radius:5px;
      background-color: #2E1F59;
}

.chat-box{
    height: 60vh;
    background-color: white;
    overflow: auto;
}

.chat-feed p{
    margin-left:10%;
    color:black;
    overflow-wrap: break-word;
}

#instruction {
    display: flex;
    position: relative;
    width:100%;
    font-size: 1.5vw;
    height: 10vh;
}

#instructions {
    margin: 0;
    position: absolute;
    text-align: center;
    width:100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
}