.rules {
    background-color: white;
}

.rules h1{
    margin:0;
    padding:0;
    text-align: left;
    color: #471010;
}

.specific-instructions{
    text-align: justify;
    margin-top:1vw;
    margin-bottom:2vw;
    padding:0;
    color:black;
    font-size: 1.3vw;

}

#instructionC {
    color:black;
    text-align: left;
    line-height:2vw;
    margin-left:50%;
    width:55%;
    font-size:1.4vw;
}

#example {
    width:13vw;
    position:absolute;
    left:5vw;
    top:12vw;
}

#start-button{
    position:absolute;
    bottom:1.5vw;
    left:19vw;
    font-size:1.5vw;
    width:7vw;
    height:4vw;

}

#getword-button {
    position:absolute;
    left:57vw;
    top:50%;
    width: 7%;
    padding: 0.5%;
}

#help-button {
    position:absolute;
    left:67vw;
    top:-5%;
    width: 15%;
    padding: 0.5%;
    color:rgb(31, 31, 31);
    background-color: rgb(216, 216, 216);
}

#rectangle{
    position:absolute;
    background-color: white;
    width:40vw;
    left:40vw;
    opacity: 0;
    height:40vw;
}

.download {
        background-color: #471010;
        border: none;
        color: white;
        padding: 1vw 1vw;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.3vw;
        cursor: pointer;
        position:absolute;
        top:3vw;
        right:3vw;
}

#player-instructions{
    background-color: white;
    position:absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
}