.rules {
    background-color: white;
}

.rules h1{
    margin:0;
    padding:0;
    color: #471010;
}

.specific-instructions{
    text-align: justify;
    margin-top:1vw;
    margin-bottom:2vw;
    padding:0;
    color:black;
    font-size: 1.3vw;

}

#instructionC {
    color:black;
    text-align: left;
    margin-left:50%;
    width:55%;
    font-size:1.4vw;
}

#example {
    width:13vw;
    position:absolute;
    left:5vw;
    top:12vw;
}

#start-button{
    position:absolute;
    bottom:1.5vw;
    left:17vw;

}