@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


#column {
    font-family: 'Oswald';
    position: absolute;
    color: white;
    width: 10vw;
    height: 60vh;
    top: 55%;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.left-column {
    left: 15%;
    transform: translate(-50%, -50%);
}

.right-column {
    left: 85%;
    transform: translate(-50%, -50%);
}