/* fix relative positions */
html, body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color:white;
}

/* background-img*/
.background-container {
    width:100vw;
    display:relative;
}

.background-container img {
    width:100%;
    height:100%;
    position:absolute;
    z-index: -3;
}

#mainHome {
    cursor: pointer;
    position:absolute;
    top: 4vh;
    left: 9vw;
    width: 3%;
    height: 5%;
    z-index: 10;
}

/* Instruction Page */
.rules ,.end{
    width: 45%;
    height: 60%;
    background-color:rgb(193, 153, 153, 0.79);
    position:absolute;
    display:relative; 
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding-right: 4%;
    padding-left: 4%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 1.5vw;
}

.specific-instructions{
    text-align: justify;
    color:white;
}

.rules h1{
    color: #471010;
}

#titles{
    color: black;
}

.results{
    text-align: center;
}

#title p{
    margin:0;
    margin-top:5vh;
}

#title{
    font-size: 1.5vw;
    color:white;
    margin-left: 13vw;
    margin-right: 13vw;
}

.title{
    float: left;
}

/* GamePage */
.container{
    width:90vw;
    height:90vh;
    padding: 5vh 5vw;
    position:relative;
}


.completed-orders{
    float: right;
}

#order{
    padding-top: 3%;
    text-align: center;
    color: white;
}

#generated{
    font-size: 3vh;
    font-style: italic;
}

.game-over{
    color: #471010;
}

#timer{
    padding: 0;
}

#menu{
    width: 41%;
    height: 57%;
    background-color:white;
    position:absolute;
    top:55%;
    left:35%;
    transform:translate(-50%,-50%);
}

#winner{
    padding-top: 3%;
    font-size: 3.5vw;
    font-style: oblique;
}

/* to center table data within column */
td{ text-align:center}

/* to make it understandable that the images are clickable */
img{
    width: 7vw;
    cursor: pointer;
}

#choices{
    position: fixed;
    left: 60%;
}

#tray{
    position:relative;
    width: 21vw;
    height: 62vh;
}

#ans0{
    position: absolute;
    top: 7vh;
    left: 7.5vw;
}

#ans1{
    position: absolute;
    top: 22vh;
    left: 7.5vw;
}

#ans2{
    position: absolute;
    top: 37vh;
    left: 7.5vw;
}

button{
    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;

    /* add styling */
    cursor: pointer;
    border:none;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    font-size: 1.5vw;
    border-radius:5px;
    background-color: #471010;
}

#submit-button{
    position: absolute;
    top: 80%;
    left: 25%;
    width: 50%;
}

#start-button{
    width: 25%;
    height: 15%;
    font-size: 1.5vw;
}

#instructions{
    position: absolute;
    top: 85vh;
    left: 35vw;
    color: white;
    font-size: 1.5vw;
}

#generate-button{
    width: 7%;
    padding: 0.5%;
}

#Home {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #471010;
}